<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Facebook Login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
   <div class="container">
        <div>
            <h1>
                Profile
            </h1>
        <a href="/facebook/logout" class="btn btn-default btn-sm">Logout</a>
        </div>
    <div>
        <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook </h3>
        <p>
            id:     <%= user.uid %>   <br>
            token:  <%= user.token %> <br>
            email:  <%= user.email %> <br>
            name:   <%= user.name %>  <br>
        </p>
    </div>
   </div>
</body>
</html>